name: Build and deploy to DockerHub
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: docker/setup-qemu-action@v2.1.0
      - uses: docker/setup-buildx-action@v2.2.1
      - uses: actions/checkout@v3
      - name: login to docker hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
      - name: build the debian image
        run: |
          docker buildx build \
            --memory="1.5g" \
            -t a11ywatch/crawler:latest \
            -f docker/Dockerfile.debian \
            --platform linux/amd64,linux/arm64 \
            --push .

  build-alpine:
    runs-on: ubuntu-latest
    steps:
      - uses: docker/setup-qemu-action@v2.1.0
      - uses: docker/setup-buildx-action@v2.2.1
      - uses: actions/checkout@v3
      - name: login to docker hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
      - name: build alpine image
        run: |
          docker buildx build \
            --memory="1.5g" \
            -t a11ywatch/crawler:alpine \
            -f docker/Dockerfile \
            --platform linux/amd64,linux/arm64 \
            --push .
